{% extends 'base.html' %}

{% block stats_active %}navActive{% endblock  %}

{%block content %}
      <div class="content">
        <div class="stats">
          <div>
            <a href="{% url 'top-150'%}"> TOP-150 accurate predictions</a>
          </div>
          <div>
            <a href="{% url 'records' %}">Transfers records</a>
          </div>
          <div>
            <a href="{% url 'top-50'%}"> TOP-50 clubs by expenditure </a>
          </div>
          <div>
            <a href="{% url 'income50'%}"> TOP-50 clubs by income </a>
          </div>
        </div>
      </div>
{% endblock %}